.box{
    background-color: yellow;
}
*{
    margin: 0;
    padding: 0;
}
.box1{
color: blue;
padding: 20px;
margin: 10px;
border: 5px solid black;
height: 70px;
box-sizing: border-box;
}
.box2{
color: brown;
padding: 20px;
margin: 10px;
border: 5px solid black;
height: 20px;
}