* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: 80vh;
    width: auto;
    background-color: blueviolet; 
    margin: 10px;
    flex-wrap: wrap;
    /* align-content: center; */
    flex-flow: row wrap;
}


.item {
    height: 50px;
    width: 50px;
    background-color: orange;
    margin: 5px;
}

.container2{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    height: 80vh;
    width: auto;
    background-color: rgb(226, 98, 43); 
    margin: 10px;
    color: aliceblue;
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.items {
    height: 50px;
    width: 50px;
    background-color: rgb(28, 42, 93);
    margin: 5px;
}
.order-1{
    order: 1;
}
